In [54]:
for j in range(15):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [45]:
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [57]:
for i in range(4,11):
    print(i)

4
5
6
7
8
9
10

In [59]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [67]:
for i in range(1,5):
    print("STATEMENT 1",i)
    print("STATEMENT 2",i)   
    print("STATEMENT 3",i)
print("STATEMENT 4",i)

STATEMENT 1 1
STATEMENT 2 1
STATEMENT 3 1
STATEMENT 1 2
STATEMENT 2 2
STATEMENT 3 2
STATEMENT 1 3
STATEMENT 2 3
STATEMENT 3 3
STATEMENT 1 4
STATEMENT 2 4
STATEMENT 3 4
STATEMENT 4 4

In [4]:
p1 = int(input(" Enter Phy:"))
int_p1 = int(p1)

c1 = int(input(" Enter Chem:"))
int_c1 = int(c1)

m1 = int(input(" Enter Math:"))
int_m1 = int(m1)

t1 = int_p1 + int_c1 + int_m1

print(" Total of stud 1 is", t1)


p2 = int(input(" Enter Phy:"))
int_p2 = int(p2)

c2 = int(input(" Enter Chem:"))
int_c2 = int(c2)

m2 = int(input(" Enter Math:"))
int_m2 = int(m2)

t2 = int_p2 + int_c2 + int_m2

print(" Total of stud 2 is", t2)

 Enter Phy:10
 Enter Chem:10
 Enter Math:10
 Total of stud 1 is 30
 Enter Phy:12
 Enter Chem:2
 Enter Math:3
 Total of stud 2 is 17

In [30]:
x = range(1, 11)  # function sequence of no Last No - 1
for A in x:
  print(A*2," ",A*2 + 2) 

for A in x:
  print(A*3," ",A*3 + 2)

for A in x:
  print(A*4," ",A*4 + 2)

2   4
4   6
6   8
8   10
10   12
12   14
14   16
16   18
18   20
20   22
3   5
6   8
9   11
12   14
15   17
18   20
21   23
24   26
27   29
30   32
4   6
8   10
12   14
16   18
20   22
24   26
28   30
32   34
36   38
40   42

In [68]:
x = range(1, 5)  # function sequence of no Last No - 1

for A in x:
    print(" Enter Student ", A, " Marks")
    p1 = int(input(" Enter Phy:"))
    int_p1 = int(p1)

    c1 = int(input(" Enter Chem:"))
    int_c1 = int(c1)

    m1 = int(input(" Enter Math:"))
    int_m1 = int(m1)

    t1 = int_p1 + int_c1 + int_m1

    print(" Total of stud ",A, "Marks is", t1)

 Enter Student  1  Marks
 Enter Phy:11
 Enter Chem:11
 Enter Math:11
 Total of stud  1 Marks is 33
 Enter Student  2  Marks
 Enter Phy:22
 Enter Chem:22
 Enter Math:22
 Total of stud  2 Marks is 66
 Enter Student  3  Marks
 Enter Phy:33
 Enter Chem:33
 Enter Math:33
 Total of stud  3 Marks is 99
 Enter Student  4  Marks
 Enter Phy:44
 Enter Chem:44
 Enter Math:44
 Total of stud  4 Marks is 132

In [69]:
x = range(1, 5)  # function sequence of no Last No - 1

for A in range(5):
    print(" Enter Student ", A, " Marks")
    p1 = int(input(" Enter Phy:"))
    int_p1 = int(p1)

    c1 = int(input(" Enter Chem:"))
    int_c1 = int(c1)

    m1 = int(input(" Enter Math:"))
    int_m1 = int(m1)

    t1 = int_p1 + int_c1 + int_m1

    print(" Total of stud ",A, "Marks is", t1)

 Enter Student  0  Marks
 Enter Phy:11
 Enter Chem:11
 Enter Math:11
 Total of stud  0 Marks is 33
 Enter Student  1  Marks
 Enter Phy:22
 Enter Chem:22
 Enter Math:22
 Total of stud  1 Marks is 66
 Enter Student  2  Marks
 Enter Phy:33
 Enter Chem:33
 Enter Math:33
 Total of stud  2 Marks is 99
 Enter Student  3  Marks
 Enter Phy:44
 Enter Chem:44
 Enter Math:44
 Total of stud  3 Marks is 132
 Enter Student  4  Marks
 Enter Phy:55
 Enter Chem:55
 Enter Math:55
 Total of stud  4 Marks is 165